#productPane {
    -fx-border-radius: 5;
    -fx-border-width: 1;
    -fx-border-color: #BDBDBD;
}

#productName {
    -fx-font-weight: bold;
    -fx-text-fill: #007089;
}

#price {
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

#score {
    -fx-text-fill: green;
}