.root {
    -fx-background-color: white;
}

.title {
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 20;
}


.brand {
    -fx-text-fill: #7B1FA2;
}

.price {
    -fx-font-weight: bold;
}

#offLabel {
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: RED;
    -fx-border-color: RED;
    -fx-padding: 3px;
}

.section {
    -fx-padding: 30px 50px 50px 50px;
    -fx-spacing: 10px;
    -fx-alignment: top-center;
}

.left-section {
    -fx-spacing: 10px;
    -fx-alignment: top-right;
}

.jfx-text-field {
    -fx-background-color: white;
    -fx-text-fill: #212121;
    -fx-prompt-text-fill: #757575;
    -jfx-focus-color: #00BCD4;
    -jfx-unfocus-color: #7B1FA2;
}

.jfx-text-area {
    -fx-fill: white;
    -fx-background-color: white;
    -fx-pref-height: 70px;
    -fx-text-fill: #212121;
    -fx-prompt-text-fill: #757575;
    -jfx-focus-color: #00BCD4;
    -jfx-unfocus-color: #7B1FA2;
}

#commentPane {
    -fx-border-radius: 5;
    -fx-border-width: 1;
    -fx-border-color: #BDBDBD;
    -fx-spacing: 10px;
}

.my-button {
    -fx-start-margin: 20px 20px 20px 20px;
    -fx-end-margin: 20px 20px 20px 20px;
    -fx-vgap: 50px;
    -fx-border-width: 10px;
    -fx-padding: 5px 5px;
    -fx-font-size: 14px;
    -jfx-button-type: RAISED;
    -fx-pref-width: 120px;
    -fx-pref-height: 40px;
    -fx-background-radius: 5px;
    -fx-text-fill: WHITE;
    -fx-background-color: #00BCD4;
}

.my-button:disabled {
    -fx-background-color: #868686;
}

.spinner {
    -fx-start-margin: 0px;
    -fx-end-margin: 0px;
    -fx-vgap: 0px;
    -fx-border-width: 0px;
    -fx-padding: 0px;
    -fx-background-radius: 0;
    -fx-pref-height: 40px;
    -fx-pref-width: 55px;
}

.spinner {
    -fx-body-color: #00BCD4;
    -fx-background-color: #00BCD4;
}
.spinner:disabled {
    -fx-body-color: #868686;
    -fx-background-color: #868686;
}

.table-view {
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 0;
    -fx-border-color: #868686;
    -fx-background-color: inherit;
    -fx-border-width: 0 0 0 0;
}

.column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.table-row-cell {
    -fx-text-fill: black;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 15px;
    -fx-background-color: transparent;;
}
.table-cell{
    -fx-text-fill: black;
    -fx-border-color: #AAAAAA;
    -fx-border-width: 1;
    -fx-border-insets: 3;
    -fx-alignment: center-left;
    -fx-start-margin: 10;
}

.table-row-cell:filled:selected {
    -fx-background: -fx-control-background;
    -fx-background-insets: 0, 0 0 0 0;
}