.Label {
    -fx-font-weight: Bold;
    -fx-text-alignment: LEFT;
}
.handleButton {
    -fx-alignment: CENTER;
    -fx-background-color: rgba(255, 132, 49, 0.50);
}
.handleButton:hover {
    -fx-background-color: rgba(255, 100, 0, 0.66);
}
.handleButton .jfx-rippler {
    -jfx-rippler-fill: WHITE;
}
Pane {
    -fx-background-color: WHITE;
}